@using EntityLayer.Concrete
@model List<Destination>

@{
	ViewData["Title"] = "GetCitiesSearchByName";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tur Rotaları</h1>

<form asp-action="GetCitiesSearchByName" method="get" asp-area="Admin">
	<div>
		<p>
			<b>Lütfen aranacak şehri giriniz:</b> <input type="text" name="searchString" class="form-control" value="@ViewData["CurrentFilter"]" />
			<br />
			<input type="submit" value="Şehir Ara" class="btn btn-outline-dark" />
		</p>
	</div>
</form>

<table class="table table-bordered">

	<tr>
		<th>#</th>
		<th>Şehir</th>
		<th>Fiyat</th>
		<th>Kapasite</th>
		<th>Sitede Gör</th>
		<th>Sil</th>
		<th>Güncelle</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<th>@item.DestinationID</th>
			<td>@item.City</td>
			<td>@item.Price</td>
			<td>@item.Capacity</td>
			<td><a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-info">Sitede Gör</a></td>
			<td><a href="/Admin/Destination/DeleteDestination/@item.DestinationID" onclick="return confirm('Bu rotayı silmek istediğinize emin misiniz?')" class="btn btn-outline-danger">Sil</a></td>
			<td><a href="/Admin/Destination/UpdateDestination/@item.DestinationID" class="btn btn-outline-success">Güncelle</a></td>
		</tr>
	}

</table>

<a href="/Admin/Destination/AddDestination/" class="btn btn-lg btn-outline-primary">Yeni Tur Rotası Oluştur</a>

